cython>=1.0
numpy>=1.20
scipy>=1.10.1
qutip @ git+https://github.com/qutip/qutip.git@master
qutip-qtrl @ git+https://github.com/qutip/qutip-qtrl.git@master
qutip-jax @ git+https://github.com/qutip/qutip-jax.git@master
pre-commit
